# environment variable file
.env
.env.local
.env.*.local
*.pem
*.key

# Dependencies
**/node_modules/

# Build Outputs (Production code)
**/dist/
**/build/
**/out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Framework specific
.next/
.nuxt/
.output/

# Binaries (Windows, Mac, Linux)
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# Vendor
vendor/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac
.DS_Store
.AppleDouble
.LSOverride

# IDE / editor
.vscode/
.idea/
*.swp
*.swo